:root {
    --bg-color: rgb(75, 72, 218);
    --primary-color: rgb(255, 129, 56);
}

body{
    background-color: var(--bg-color);
}

.main-container{
    position: absolute;
    top: 70px;
    left: 10px;
    width: 100%;
    background-color: var(--bg-color);
}

.panel_search{
    background-color: white;
}

.card{
    border-radius: 0.5rem;
}

.loading {
    position: absolute;
    z-index: 29;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    font-size: 48px;
    display: none;
  }

.js-loading .loading {
    display: block;
}

.wheel {
    position: absolute;
    height: 128px;
    width: 128px;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    transform: translate(-50%, -50%);
    mask: url('../res/wheel2.svg');
    -webkit-mask: url('../res/wheel2.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    background:white;
}

.form {
    position: absolute;
    height: 220px;
    width: 440px;
    top: calc(50% - 110px);
    left: calc(50% - 220px);
}

.login {
    height: 200px;
    width: 400px;
}